@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1{
    font-family: 'Exo 2', sans-serif;
    
}

p{
    font-family: 'PT Sans Narrow', sans-serif;
}

label{
    font-family: 'PT Sans Narrow', sans-serif;
}

input{
    font-family: 'PT Sans Narrow', sans-serif;
}

.logo {
  width:50px;
  fill:rgb(233, 80, 9);
  padding-right:auto;
  display:inline-block;
  vertical-align: middle;
}


tr, td{
  background-color: #e3e3e3;
}

a {
    color: #fa8500;
  }
  a:hover, a:focus {
    color: #f7880a;
  }
  
  .container {
    margin: auto;
    
  }
  
  @media (min-width: 48em) {
    .container {
      margin: 2%;
    }
  }
  @media (min-width: 75em) {
    .container {
      margin: 2em auto;
      max-width: 75em;
    }
  }
  
  .responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  @media (min-width: 48em) {
    .responsive-table {
      font-size: 0.9em;
    }
  }
  @media (min-width: 62em) {
    .responsive-table {
      font-size: 1em;
    }
  }
  .responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  @media (min-width: 48em) {
    .responsive-table thead {
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }
  }
  .responsive-table thead th {
    background-color: #203A43;
    border: 5px solid #86bc25;
    font-weight: normal;
    text-align: center;
    color: rgb(241, 118, 2);
  }
  .responsive-table thead th:first-of-type {
    text-align: left;
  }
  .responsive-table tbody,
  .responsive-table tr,
  .responsive-table th,
  .responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  @media (min-width: 48em) {
    .responsive-table tr {
      display: table-row;
    }
  }
  .responsive-table th,
  .responsive-table td {
    padding: 0.5em;
    vertical-align: middle;
  }
  @media (min-width: 30em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em 0.5em;
    }
  }
  @media (min-width: 48em) {
    .responsive-table th,
  .responsive-table td {
      display: table-cell;
      padding: 0.5em;
    }
  }
  @media (min-width: 62em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em 0.5em;
    }
  }
  @media (min-width: 75em) {
    .responsive-table th,
  .responsive-table td {
      padding: 0.75em;
    }
  }
  .responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
  @media (min-width: 48em) {
    .responsive-table caption {
      font-size: 1.5em;
    }
  }
  .responsive-table tfoot {
    font-size: 0.8em;
    font-style: italic;
  }
  @media (min-width: 62em) {
    .responsive-table tfoot {
      font-size: 0.9em;
    }
  }
  @media (min-width: 48em) {
    .responsive-table tbody {
      display: table-row-group;
    }
  }
  .responsive-table tbody tr {
    margin-bottom: 1em;
  }
  @media (min-width: 48em) {
    .responsive-table tbody tr {
      display: table-row;
      border-width: 1px;
    }
  }
  .responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
  }
  @media (min-width: 48em) {
    .responsive-table tbody tr:nth-of-type(even) {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  .responsive-table tbody th[scope=row] {
    background-color: #26890d;
    color: white;
  }
  @media (min-width: 30em) {
    .responsive-table tbody th[scope=row] {
      border-left: 1px solid #86bc25;
      border-bottom: 1px solid #86bc25;
    }
  }
  @media (min-width: 48em) {
    .responsive-table tbody th[scope=row] {
      background-color: #203A43;
      color: wheat;
      text-align: left;
    }
  }
  .responsive-table tbody td {
    text-align: right;
  }
  @media (min-width: 48em) {
    .responsive-table tbody td {
      border-left: 1px solid #86bc25;
      border-bottom: 1px solid #86bc25;
      text-align: center;
    }
  }
  @media (min-width: 48em) {
    .responsive-table tbody td:last-of-type {
      border-right: 1px solid #86bc25;
    }
  }
  .responsive-table tbody td[data-type=currency] {
    text-align: right;
  }
  .responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.54);
  }
  @media (min-width: 30em) {
    .responsive-table tbody td[data-title]:before {
      font-size: 0.9em;
    }
  }
  @media (min-width: 48em) {
    .responsive-table tbody td[data-title]:before {
      content: none;
    }
  }


/* Encabezado Principal */



.headerAccount> li, a, button{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

.headerAccount>.material-symbols-outlined {
    color: #FF4A1C;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #FF4A1C;
    text-shadow: 1px 1px 5px red;
}

.headerAccount a span{
    padding: 9px 25px;
    background-color: #FF4A1C; 
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

body{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  
}








.mainAccounts span{
  color: #f5af19;  /* fallback for old browsers */
}


main{
  min-height: 60vh;
}



/* Account */


/* Index */










@media screen and (max-width:768px) and (min-width:320px){

    .sol_card_top_3 {
        position: relative;
        top: 0;
      }
      .container {
        margin: none !important;
        padding: none !important;
      }
      .our_solution_category {
        width: 100%;
        margin: 0 auto;
      }

      .logo{
        width:50px;
        height: 50px;
        padding: none !important;
        display:inline-block;
        vertical-align: left;
      }
    
      .our_solution_category .solution_cards_box {
        flex: auto;
      }
      .cartas{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .carta{
        margin: 10px;
        width: 70%;
        box-shadow: 1px 4px 4px 4px rgba(7, 2, 2, 0.719);
      }

      .headerIndex .titulo{
        text-align: center;
        font-size: 85px;
        color: #f88323;
        text-shadow:1px 1px 1px #203A43 ;
        margin: auto;
      }
}
@media screen and (max-width:1024px) and (min-width:768px){

    .our_solution_category .solution_cards_box {
        flex: 1;
      }
    
    .container{
      margin: 2em auto;
      max-width: 75em;
    }
}
@media screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
      top: -3rem;
    }
    .our_solution_category {
      width: 50%;
      margin: 0 auto;
    }
  }