@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&family=PT+Sans+Narrow:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1,h2,h3{
    font-family: 'Exo 2', sans-serif;
    font-size: larger;
    font-weight: 700;
}

p{
    font-family: 'PT Sans Narrow', sans-serif;

}

label{
    font-family: 'PT Sans Narrow', sans-serif;
}

input{
    font-family: 'PT Sans Narrow', sans-serif;
}


.logo {
  width:50px;
  fill:rgb(233, 80, 9);
  padding-right:auto;
  display:inline-block;
  vertical-align: middle;
}

/* Encabezado Principal */


.headerAccount{
    background: #203A43;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: sticky;
    top: 0;
    z-index: 2;
}

.headerAccount> li, a, button{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

.headerAccount>.material-symbols-outlined {
    color: #FF4A1C;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

.logo{
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #FF4A1C;
    text-shadow: 1px 1px 5px red;
}

.headerAccount a span{
    padding: 9px 25px;
    background-color: #FF4A1C; 
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

body{
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

  background-attachment: fixed;
  background-size: cover;
  }


  main{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .plan-card {
    background: #24252A;
    width: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-bottom: 6px solid #000446;
    box-shadow: 0 6px 30px rgba(207, 212, 222, 0.3);
    font-family: "Poppins", sans-serif;
    transition: 1s ;
    
  }

  .plan-card:hover{
    box-shadow: 1px 1px 3px red;
    /* transform: translateY(-20%); */
    transform: scale(1.1);
    z-index: 1;
  }
  
  .plan-card h2 {
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 600;
    color: #f56607;
    text-shadow: 1px 1px 1px red;
  }
  
  .plan-card h2 span {
    display: block;
    margin-top: -4px;
    color: #f56607;
    font-size: 12px;
    font-weight: 400;
  }
  
  .etiquet-price {
    position: relative;
    background: #ec5c08;
    width: 19.46rem;
    margin-left: -0.65rem;
    padding: .2rem 1.2rem;
    border-radius: 5px 0 0 5px;
    text-shadow: 1px 1px 1px rgb(2, 29, 65);
  }
  
  .etiquet-price p {
    margin: 0;
    padding-top: .4rem;
    display: flex;
    font-size: 1.9rem;
    font-weight: 500;
    
  }
  
  .etiquet-price p:before {
    content: "$";
    margin-right: 5px;
    font-size: 15px;
    font-weight: 300;
  }
  
  .etiquet-price p:after {
    content: "/ handle";
    margin-left: 5px;
    font-size: 15px;
    font-weight: 300;
  }
  
  .etiquet-price div {
    position: absolute;
    bottom: -23px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 13px solid #c54002;
    border-bottom: 10px solid transparent;
    border-right: 13px solid transparent;
    z-index: -6;
  }
  
  .benefits-list {
    margin-top: 16px;
  }
  
  .benefits-list ul {
    padding: 0;
    font-size: 14px;
  }
  
  .benefits-list ul li {
    color: #19cf13f3;
    list-style: none;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .benefits-list ul li svg {
    width: .9rem;
    fill: currentColor;
  }
  
  .benefits-list ul li span {
    font-weight: 300;
  }
  
  .button-get-plan {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
  }
  
  .button-get-plan a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000446;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: .8rem;
    letter-spacing: .05rem;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .button-get-plan a:hover {
    transform: translateY(-3%);
    box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
  }
  
  .button-get-plan .svg-rocket {
    margin-right: 10px;
    width: .9rem;
    fill: currentColor;
  }



  .seccionPrestamo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    width: 100%;
  }


  .modal-content{
    background: #e64518;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d69b24, #f77c09);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e6d821, #e45c0d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: larger;
    font-weight: 500;
  }


  label{
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color: #010513;
  }



  
  @media screen and (max-width:768px) and (min-width:320px){

   .seccionPrestamo{
    flex-direction: column;
    padding: auto;
    margin: auto;
    padding-top: 1rem;
    margin: 1rem;

   }


   .etiquet-price {
    position: relative;
    background: #ec5c08;
    width: auto;
    margin-left: auto;
    padding: auto;
    border-radius: 5px 0 0 5px;
  }

  .plan-card {
    background: #24252A;
    width: 95%;
    padding: auto;
    border-radius: 10px;
    border-bottom: 6px solid #000446;
    box-shadow: 0 6px 30px rgba(207, 212, 222, 0.3);
    font-family: "Poppins", sans-serif;

  }

}


@media screen and (max-width:1024px) and (min-width:768px){

    .seccionPrestamo{
        padding-top: 1rem;
        margin: 1rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
       }
}

@media screen and (min-width: 1024px) {
    .seccionPrestamo{
        padding-top: 1rem;
        margin: 1rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
       }
  }